{% extends 'base.html.twig' %}

{% block title %}DetalleVenta{% endblock %}

{% block body %}
    <h1>DetalleVenta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IddetalleVenta</th>
                <td>{{ detalle_ventum.iddetalleVenta }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ detalle_ventum.cantidad }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ detalle_ventum.precio }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ detalle_ventum.descuento }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_a_carrito_index') }}">back to list</a>

    <a href="{{ path('app_a_carrito_edit', {'iddetalleVenta': detalle_ventum.iddetalleVenta}) }}">edit</a>

    {{ include('a_carrito/_delete_form.html.twig') }}
{% endblock %}
